.container{
  max-width: 350px;
  margin: 0 auto;
}

input{
  box-sizing: border-box;
  width: 45%;
  height: 25px;
  font-size:18px;
  text-align: right;
}

button{
  font-size: 15px;
  height: 23px;
  width: 14%;
}